{% extends "base.html" %}
{% block title %}{{friendName}}'s Friend Page{% endblock %}
{% block content %}



<style>
    .button {
        background-color: red;
        color: white;
        border: none;
        padding: 6px 10px;
        font-size: large;
    }
</style>
<h2> Logged in as: {{ YOU.username }}</h2>
<br>
<img src="{{FRIEND.avatar}}" alt="{{FRIEND.username}}'s avatar" style="width:150px">
<h1>{{FRIEND.username}}</h1>
<br>
<p>Steam ID = {{FRIEND.steamID}}</p>
<br>
<p>Steam Level {{FRIEND.steamLevel}} </p>
<br><hr>
<h2>{{FRIEND.username}}'s Recently Played Games</h2>
<br>
    {% if not FRIEND.recentGames.items() %}
        <p>This user has no recently played games.</p>
    {% endif %}

    {% for name, data in FRIEND.recentGames.items() %}
        {% set image = getAppImage(data['appid']) %}
        {% set gameID = data['appid'] %}
        <img src="{{ image }}" alt="{{name}} Image">
        <p>{{name}}</p>
        <p>ID: {{data['appid']}}</p>
        <p>Playtime (Forever): {{ "{:.2f}".format(data['playtime_forever']) }} hours</p>
        <p>Playtime (2 Weeks): {{ "{:.2f}".format(data['playtime_2weeks']) }} hours</p>
        <button class="button" onclick="window.location.href='/compare/{{gameID}}/{{FRIEND.steamID}}';"> Battle! </button>
        <br><br><br>
    {% endfor %}

    <br><br><br><br><br><hr>
    <h2>{{FRIEND.username}}'s Owned Games</h2>
    <p>Click to battle!</p>


    {% for name, id in FRIEND.ownedGames.items() %}
    <a style="font-size: large; color: rgb(69, 233, 231);" href="{{ url_for('compare', oppid=FRIEND.steamID, gameID=id['appID']) }}">{{name}}</a>
    <br>
    {% endfor %}

    



{% endblock %}
