{% extends "base.html" %}
{% block title %} Battle {% endblock %}
{% block content %}

  <p> Select your game </p> 

  <form action = "#", method = "post">
    <p>Game ID:</p>
    <p><input type = "text" name = "game"/></p>

    <p>Opponent:</p>
    <p><input type = "text" name = "opp"/></p>
    <p><input type="submit" value="Enter"/></p>
  </form>

  <br><br><br><br><br><br>
  <p>------------------------</p>
  <h3>ID for Testing Purpose:</h3>
  <p font-size: 8px;>God Of War = 1593500<br>
    TheFinals = 2073850<br>
    Blasphemous = 774361</p>
  <p font-size: 8px;>KyleSteamID = 76561198199245639<br>
    JordanSteamID = 76561198208256371<br>
    AlvinSteamID = 76561198419880283</p>
    
{% endblock %}
