<!-- The simple inheritance for base.html -->
<!-- Title after block title -->
<!-- Content after block content -->
{% extends "base.html" %}
{% block title %}Welcome {{name}}{% endblock %}
{% block content %}
    <!-- <a href="/friendsList">
        <h1 style="font-size: 20px; font-family:monospace; color: rgb(9, 198, 240); font-weight: normal;">Friends List</h1>
    </a> -->

    <div class="recent-section">
        <h3>Recent Games</h3>
        <!-- Recent games API -->
        {% for k, v in YOU.recentGames.items() %}
        <div>
            {% set app_image_url = getAppImage(v['appid']) %}
            <img src="{{ app_image_url }}" alt="{{ k }} Image">
            <p>Game Name: {{ k }}</p>
            <p>Playtime (Forever): {{ "{:.2f}".format(v['playtime_forever']) }} hours</p>
            <p>Playtime (2 Weeks): {{ "{:.2f}".format(v['playtime_2weeks']) }} hours</p>
        </div>
        <hr>
        {% endfor %}
    </div>

    <div class="recent-section">
        <h3>Recent Achievements</h3>
        {% for k, achievements in YOU.achievements.items() %}
        <h4>{{ k }}</h4>
        <ul>
            {% for achievement_name, achievement_info in achievements.items() %}
            <li>{{ achievement_name }} - Rarity: {{ achievement_info['rarity'] }}%</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>

{% endblock %}